
.home {
	background-color: lightblue;
	margin: 0px 200px 0px 200px;
}

.library {
	background-color: #7CC489;
	text-align: center;
	margin: 0px 5% 0px 5%
}

.image-88x31 {
	img {width: 88px; height: 31px}
}

.image-300 {
	img {height: 300px;}
}

.image-368 {
	img {height: 368px;}
}

.image-400 {
	img {height: 400px;}
}

.image-320 {
	img {height: 320px;}
}

.image-360 {
	img {height: 360px;}
}

.image-340 {
	img {height: 340px;}
}

.museum {
	
}

h1 {
	
}

.style1 {
	text-align: center;
	border-style: solid;
	background-color: #ff6b57;
}

.style2 {
	text-align: center;
	border-style: solid;
	background-color: #8DDCE9;
}

.list {
	margin: 0px 0px 0px 0px;
	background-color: #ff6b57;
	border-style: solid;
}

.header {
		text-align: center;
}
